<ul class="breadcrumb bg-white b-b wrapper-sm m-b-none">
    <li><a href><i class="fa fa-home"></i> 主页</a></li>
    <li><a href>用户管理</a></li>
    <li class="active">用户设置</li>
</ul>
<div class="" ng-controller="userListController">

    <div class="wrapper-sm">
        <div class="panel panel-default">
            <div>
                <toaster-container
                        toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
            </div>
            <div class="wrapper-sm">
                <div class="row">
                    <div class="col-lg-12">
                    </div>
                    <div class="col-lg-12">
                        <select class="form-control w-sm pull-left m-r-xs rounded" placeholder="选择部门查询" ng-model="dept"
                                ng-options="dept.dept_name for dept in depts"></select>
                        <!--<input type="text" class="form-control w-sm pull-left m-r-xs" name="createTime"-->
                               <!--datepicker-popup="{{format}}" placeholder="输入账单时间查询" ng-model="createTime"-->
                               <!--is-open="createTimeOpened" datepicker-options="dateOptions" min-date="tomorrow"-->
                               <!--close-text="关闭"/>-->
                        <!--<button type="button" class="btn btn-default pull-left m-r-xs"-->
                                <!--ng-click="createTimeTool($event)"><i-->
                                <!--class="glyphicon glyphicon-calendar"></i></button>-->
                        <input ng-model="userName" class="form-control w-sm pull-left m-r-xs rounded" placeholder="输入用户名查询"/>
                        <input ng-model="employeeNumber" class="form-control w-sm pull-left m-r-xs rounded" placeholder="输入员工工号查询"/>
                        <button class="btn m-b-xs btn-default btn-rounded pull-left m-r" ng-click="search()">查询</i></button>
                        <button class="btn m-b-xs btn-success btn-addon pull-right m-r" ng-click="exportData()"><i class="glyphicon glyphicon-open"></i>信息导出</button>
                        <button class="btn m-b-xs btn-primary btn-addon pull-right m-r" ng-click="createUser()" ng-show="currentUser.roleValue==01"><i class="fa fa-user"></i>创建员工</button>

                    </div>
                </div>
                <div class="b-t">
                    <div class="table-responsive">
                        <div ng-grid="gridOptions" style="min-height:480px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>