<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码?</title>
    <script type="text/javascript"
            src="js/libs/jquery/jquery-1.11.0.js"></script>
    <script type="text/javascript"
            src="js/libs/jquery/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet"
          href="js/libs/jquery/bootstrap/css/bootstrap.css">
    <link rel="stylesheet"
          href="js/libs/angular/angularjs-toaster/toaster.css">
    <link rel="stylesheet"
          href="css/findPassword.css">

    <script type="text/javascript"
            src="js/libs/angular/angular/angular.js"></script>
    <script type="text/javascript"
            src="js/libs/angular/angular-animate/angular-animate.js"></script>

    <script type="text/javascript"
            src="js/libs/angular/angularjs-toaster/toaster.js"></script>
</head>
<body ng-app="app" ng-controller="findPasswordController">
    <div style="text-align: center;">
        <div>
            <toaster-container
                    toaster-options="{'position-class': 'toast-top-center', 'close-button':true}"></toaster-container>
        </div>
        <div id="content">
        <div id="title">输入信息找回密码</div>
        <form name="form" class="form-validation" novalidate>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right">姓名:</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="请输入员工姓名" class="form-control" name="phoneNumber" ng-model="userName">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right">手机号码:</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="请输入手机号" class="form-control" name="phoneNumber" ng-model="phoneNumber">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right">身份证后六位:</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="请输入身份证后六位" class="form-control" name="idCard" ng-model="idCard">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 control-label text-right">最喜欢的数字:</label>
                <div class="col-sm-6">
                    <input type="text" placeholder="请输入最喜欢的数字" class="form-control" name="likeNumber" ng-model="likeNumber">
                </div>
            </div>

            <br>
            <div class="col-sm-6" id="submit">
            <input type="button"  class="btn btn-primary col-sm-5" ng-click="submit()" value="找回密码">&nbsp;&nbsp;
               <button class="btn btn-success col-sm-5"><a href="login.jsp" style="text-decoration: none;color: white;">去登录</a></button>
            </div>
        </form>
        </div>
    </div>
    <script type="text/javascript">
        var app = angular.module('app',['toaster','ngAnimate']);
        app.controller('findPasswordController', ['$scope','$http','toaster',function($scope, $http,toaster){

            $scope.userName = "";
            $scope.phoneNumber = "";
            $scope.idCard = "";
            $scope.likeNumber="";

            $scope.pop = function (type, title, text) {
                toaster.pop(type, '', text);
            };

            $scope.submit = function(){
                if ($scope.userName == "" || $scope.phoneNumber == "" || $scope.idCard == "" || $scope.likeNumber == ""){
                    if ($scope.userName == ""){
                        $scope.pop('warning', '警告', '姓名不能为空！');
                    }
                    if($scope.phoneNumber == ""){
                        $scope.pop('warning', '警告', '手机号码不能为空！');
                    }

                    if($scope.idCard == ""){
                        $scope.pop('warning', '警告', '身份证后六位不能为空！');
                    }
                    if($scope.likeNumber == ""){
                        $scope.pop('warning', '警告', '最喜欢的数字不能为空！');
                    }

                }else {
                    $http.get("users/findPassword?userName="+$scope.userName+"&phoneNumber="+$scope.phoneNumber+"&idCard="+$scope.idCard+"&likeNumber="+$scope.likeNumber).success(function (data) {
                        console.log(data.data)
                        if (data.status == "SUCCESS"){
                            alert('您的密码是:'+data.data.password);
                        }else {
                            $scope.pop('error', '错误', '信息错误，不可找回密码，请联系管理员!');
                        }

                    }).error(function(err){
                        $scope.pop('error', '错误', '信息错误，不可找回密码，请联系管理员!');
                    });
                }
            };



        }]);

    </script>
</body>
</html>